requests
flasgger
Flask
flask_cors
flask_jwt
flask_restful
flask_sqlalchemy
psycopg2==2.9.3
psycopg2-binary==2.9.3
pandas==1.1.5
redis
Werkzeug==2.0.0
uwsgi
kucoin-futures-python
flask-swagger
flask-swagger-ui
flask-cors
pymysql