requests
flasgger
Flask
flask_cors
flask_jwt
flask_restful
flask_sqlalchemy
pandas
redis
Werkzeug
uwsgi
psycopg2
psycopg2-binary
kucoin-futures-python
flask-swagger
flask-swagger-ui
flask-cors
pymysql